<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slip Online Mahasiswa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <div class="container ">
          <a class="navbar-brand " href="#">SLIP ONLINE</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="container col-auto">
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="SP.html">SP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mahasiswa.html">Mahasiswa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="slip.html">Slip</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>
    <div id="app">

        <div class="container mt-5">
         
      
              <div class="col-md-12">
                <button class="btn btn-md btn-success" v-on:click="resetForm()">Tambah Data </button>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="Nama_Mahasiswa">Nama Mahasiswa</label>
                      <input  v-model="Nama_Mahasiswa" type="text" class="form-control" id="Nama_Mahasiswa" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Valid first name is required.
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="NIM_Mahasiswa">NIM Mahasiswa</label>
                      <input v-model="NIM_Mahasiswa" type="text" class="form-control" id="NIM_Mahasiswa" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Valid NIM Mahasiswa is required.
                      </div>
                    </div>
                  </div>
      
                  <!-- <div class="mb-3">
                    <label for="Jenis_Kelamin_Mahasiswa">Jenis Kelamin Mahasiswa</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-radio"></span>
                      </div>
                      <input v-model="Jenis_Kelamin_Mahasiswa" type="text" class="form-control" id="Jenis_Kelamin_Mahasiswa" placeholder="" value="" required>
                      <div class="invalid-feedback" style="width: 100%;">
                        Your Jenis_Kelamin_Mahasiswa is required.
                      </div>
                    </div>
                  </div> -->
                  <div class="mb-3">
                    <label for="Jenis Kelamin">Jenis_Kelamin_Mahasiswa</label>
                  <select class="form-select mt-3" placeholder="Jenis_Kelamin_Mahasiswa"  v-model="Jenis_Kelamin_Mahasiswa">
                    <option >Laki Laki</option>
                    <option>Perempuan</option>
                  </select>
                  </div>
                  <div class="mb-3">
                    <label for="Email_Mahasiswa">Email <span class="text-muted">(Optional)</span></label>
                    <input v-model="Email_Mahasiswa" type="Email_Mahasiswa" class="form-control" id="Email_Mahasiswa" placeholder="you@example.com">
                    <div class="invalid-feedback">
                      Please enter a valid Email_Mahasiswa address for shipping updates.
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="NO_HP_Mahasiswa">NO HP Mahasiswa</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-radio"></span>
                      </div>
                      <input v-model="NO_HP_Mahasiswa" type="text" class="form-control" id="NO_HP_Mahasiswa" placeholder="" value="" required>
                      <div class="invalid-feedback" style="width: 100%;">
                        Your NO_HP_Mahasiswa is required.
                      </div>
                    </div>
                  </div>

                  <!-- <div class="mb-3">
                    <label for="Asrama_Mahasiswa">Asrama Mahasiswa</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-radio"></span>
                      </div>
                      <input v-model="Asrama_Mahasiswa" type="text" class="form-control" id="Asrama_Mahasiswa" placeholder="" value="" required>
                      <div class="invalid-feedback" style="width: 100%;">
                        Your Asrama_Mahasiswa is required.
                      </div>
                    </div>
                  </div> -->

                  <div class="mb-3">
                    <label for="Jenis Kelamin">Asrama Mahasiswa</label>
                  <select class="form-select mt-3" placeholder="Jenis_Kelamin_Mahasiswa"  v-model="Asrama_Mahasiswa">
                    <option >Joseph</option>
                    <option>Daniel</option>
                    <option>Samuel</option>
                    <option>Naomi</option>
                  </select>
                  </div>

                  </div>
                
                  <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createUser" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                  <button v-if="editMode" v-on:click="updateUser" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                  <button v-if="deleteMode" v-on:click="deleteUser" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                  
                </form>
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Nama Mahasiswa</th>
                        <th>NIM Mahasiswa</th>
                        <th>Jenis KelaminMahasiswa</th>
                        <th>Email Mahasiswa</th>
                        <th>NO HP Mahasiswa</th>
                        <th>Asrama Mahasiswa</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="user in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.Nama_Mahasiswa }}</td>
                        <td>{{ user.NIM_Mahasiswa }}</td>
                        <td>{{ user.Jenis_Kelamin_Mahasiswa }}</td>
                        <td>{{ user.Email_Mahasiswa }}</td>
                        <td>{{ user.NO_HP_Mahasiswa }}</td>
                        <td>{{ user.Asrama_Mahasiswa }}</td>
                        <td><button class="btn btn-md btn-info" v-on:click="getEdit(user)">Edit</button></td>
                        <td><button class="btn btn-danger" v-on:click="getDelete(user)">Delete</button></td>
                    </li>
                </table>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                
            
               
               
              </div>
            </div>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">&copy; 2021 FTI UNAI</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Privacy</a></li>
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
              </footer>

    </div>
    

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                users:[],
                userIdEdit: null,
                userIdDelete: null,
                editMode: false,
                deleteMode: false,
                Nama_Mahasiswa: '',
                NIM_Mahasiswa: '',
                Jenis_Kelamin_Mahasiswa: '',
                Email_Mahasiswa: '',
                NO_HP_Mahasiswa: '',
                Asrama_Mahasiswa: '',
            },
            mounted: function() {
                this.getUser();
            },
            methods: {
                getUser() {
                    axios.get('https://621c2590768a4e1020a2f82b.mockapi.io/mahasiswa')
                        .then(response => {
                            this.users = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createUser: function(){
                    axios.post('https://621c2590768a4e1020a2f82b.mockapi.io/mahasiswa', {
                        Nama_Mahasiswa: this.Nama_Mahasiswa,
                        NIM_Mahasiswa: this.NIM_Mahasiswa,
                        Email_Mahasiswa: this.Email_Mahasiswa,
                        Jenis_Kelamin_Mahasiswa: this.Jenis_Kelamin_Mahasiswa,
                        NO_HP_Mahasiswa: this.NO_HP_Mahasiswa,
                        Asrama_Mahasiswa: this.Asrama_Mahasiswa,
                    })
                    .then(response => {
                            this.getUser();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.userIdEdit = null;
                    this.Nama_Mahasiswa = null;
                    this.NIM_Mahasiswa = null;
                    this.Jenis_Kelamin_Mahasiswa = null;
                    this.Email_Mahasiswa = null;
                    this.NO_HP_Mahasiswa = null;
                    this.Asrama_Mahasiswa = user.Asrama_Mahasiswa;
                },
                getEdit: function (user) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.userIdEdit = user.id;
                    this.Nama_Mahasiswa = user.Nama_Mahasiswa;
                    this.NIM_Mahasiswa = user.NIM_Mahasiswa;
                    this.Jenis_Kelamin_Mahasiswa = user.Jenis_Kelamin_Mahasiswa;
                    this.Email_Mahasiswa = user.Email_Mahasiswa;
                    this.NO_HP_Mahasiswa = user.NO_HP_Mahasiswa;
                    this.Asrama_Mahasiswa = user.Asrama_Mahasiswa;
                },
                getDelete: function (user) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.userIdDelete = user.id;
                    this.Nama_Mahasiswa = user.Nama_Mahasiswa;
                    this.NIM_Mahasiswa = user.NIM_Mahasiswa;
                    this.Jenis_Kelamin_Mahasiswa = user.Jenis_Kelamin_Mahasiswa;
                    this.Email_Mahasiswa = user.Email_Mahasiswa;
                    this.NO_HP_Mahasiswa = user.NO_HP_Mahasiswa;
                    this.Asrama_Mahasiswa = user.Asrama_Mahasiswa;
                },
                updateUser: function () {
                    axios.put(`https://621c2590768a4e1020a2f82b.mockapi.io/mahasiswa/${this.userIdEdit}`, {
                            Nama_Mahasiswa: this.Nama_Mahasiswa,
                            NIM_Mahasiswa: this.NIM_Mahasiswa,
                            Jenis_Kelamin_Mahasiswa: this.Jenis_Kelamin_Mahasiswa,
                            Email_Mahasiswa: this.Email_Mahasiswa,
                            NO_HP_Mahasiswa: this.NO_HP_Mahasiswa,
                            Asrama_Mahasiswa:this.Asrama_Mahasiswa,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getUser();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                // Delete User
                deleteUser: function () {
                    axios.delete(`https://621c2590768a4e1020a2f82b.mockapi.io/mahasiswa/${this.userIdDelete}`)
                        .then(res => {
                            // handle success
                            this.message = "Your data has been deleted";
                            this.getUser();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                }
            }
        })
        
    </script>


</body>
</html>